body{
    margin: 0;
    width: 100vw;
    background: #D9D9D9;

}
.topo{
    display: flex;   
    background: #FFF112;
}

.logo{
    width: 186px;
    height: 90px;
}

.search-box{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20vw;
    background-color:#fff;
    border:solid 1px;
    border-radius:15px;
    padding: 0px 1px 1px 0px;
    width: 500px;;
}
.form-inline .form-control{
    margin-left: 10px;
    width: 440px;
    border:none;    
}

.search-icon {
    border:none;
    float:right;
    height:32px;
    border-radius:0 7px 7px 0;
    width:32px;
    font-weight:bold;
    background:#fff;
}
.barra{
    display: inline;
}

.corpo{
    display: flex;
    position: relative;
    width: 100vw;
}
.cat{
    color: #0D90C5;
    size: 48px;
    margin-left: 20px;
    margin-top: 10px;
}
.subCat{
    background: #fff;
    margin-top: 30px;
    height: 100ch;
    width: 250px;
}
.textop{
    font-weight: bold;
    list-style-type: none;
}
.texcorpo{
    font-weight: normal;
}
.card{
    margin-left: 20px;
    margin-top: 30px;
    width: 260px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.imagem{
    background: #0D90C5;
    width: 225px;
    height: 225px;
    margin-top: 15px;
}
.card_text{
    margin-left: -50px;
    margin-top: 10px;
    font-family: 'Inter';
    font-size: 18px;
    line-height: 17px;
    display: -webkit-box;
}

.avaliacao{
    display: flex;
    padding: 0px 0px 0px 0px; 
}
.star-icon{
    list-style-type: none;
    border: 1px solid #fff;
    cursor: pointer;
    color: #ffe500;
    font-size: 32px;
}
.star-icon::before{
    content: "\2605";
}
.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}
.avaliacao:hover .star-icon::before{
    content: "\2605";
}
.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}




