body{
    margin: 0;
    width: 100vw;
    background: #D9D9D9;

}
.topo{
    display: grid;
    justify-content: center;    
}

.search-box{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#fff;
    border:solid 1px;
    border-radius:15px;
    padding: 0px 1px 1px 0px;
    width:600px;
}
.form-inline .form-control{
    margin-left: 10px;
    width: 540px;
    border:none;    
}

.search-icon {
    border:none;
    float:right;
    height:32px;
    border-radius:0 7px 7px 0;
    width:32px;
    font-weight:bold;
    background:#fff;
}
.barra{
    display: inline;
}