body{
    margin: 0;
    width: 100vw;
    background: #D9D9D9;

}
.topo{
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #FFF112;
}

.logo{
    width: 300px;
    height: 150px;
}
.div_tela{
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}
.menu_lateral{
    position: absolute;
    width: 300px;
    height: 790px;
}
.Box-menu{
    display: flex;   
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    background: #fff;
    border: 1px solid #fff;
    font-size: 28px;
    cursor: pointer;    
}
.Box-menu:active {
    border-color: #0D90C5;
  }
.tela-principal{
    display: flex;
}
.tela-info{
    width: 1000px;
    height: 790px;
    background: #fff;
    margin-top: 10px;
    margin-left: 300px;
    padding: 20px;
}

.linha{
    width: 950px;
    border: 1px solid #D9D9D9;
}
.form-control{
    width: 400px;
}
.div_tela{
    display: flex;

}
.lab{
    margin-top: 20px;
}

.btn{
    margin-left: 40%;
    
    width: 200px;
    height: 40px;
    background: #0D90C5;
    color: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
}
.txt-area{ 
    width: 400px; 
    height: 100px; 
    font-size: 14px;
    border: 1px solid #D9D9D9;
}


